<h1 class="sidebar-close-button" side-bar-hide>&#8592;</h1>
<h2 class="sidebar-header">#RIPDATBREAD</h2>
<div class="sidebar-links">
  <p><a href="#">yummy bread</a></p>
  <p><a href="#">warm bread</a></p>
  <p><a href="/breads/new">u even bake, bro?</a></p>
</div>
<div ng-show="loggedIn() == true">
  <div class="sidebar-small-links">
    <p><a href="/api/logout">logout</a></p>
  </div>  
</div>
<div ng-show="loggedIn() == false">
  <div class="sidebar-small-links">
    <p><a href="/login">login</a></p>
    <p><a href="/users/new">signup</a></p>
  </div>
</div>