<h1 class="sidebar-close-button" side-bar-hide>&#8592;</h1>
<h2 class="user-nav-header">#RIPDATBREAD</h2>
<img ng-src="{{userPhoto}}" class="profile-image">
<div class="profile-stats">
  <h2>{{user.name}}</h2>
  <p><b>{{user.breads.length}}</b> breads</p>
  <p><b>{{user.rips.length}}</b> rips</p>
  <p><b>{{user.dips.length}}</b> dips</p>
</div>
<div class="sidebar-small-links">
  <p><a href="/yummy" reload-link>yummy bread</a></p>
  <p><a href="/hot" reload-link>warm bread</a></p>
  <p><a href="/breads/new" reload-link>u even bake, bro?</a></p>
</div>