<div class="container">
  <h1>Become A Breadizen</h1>
  <form class="registration-form" ng-submit='createNewUser(user)'>
    <label for="name">Name</label>
    <input type='text' ng-model='user.name' class="form-control" id="name">
    <label for="email">Email</label>
    <input type='text' ng-model='user.email' class="form-control" id="email">
    <label for="photo">Profile Photo</label>
    <input type="file" ng-model='user.photo' id="photo">
    <label for="password">Password</label>
    <input type='password' ng-model='user.password' class="form-control" id="password">
    <label for="confirm-password">Password Confirmation</label>
    <input type='password' ng-model='user.password_confirmation' class="form-control" id="confirm-password">
    <input type='submit' value='Create User' class="btn">
  </form>
</div>