<div id="wrapper" ng-model="currentUser" ng-init="currentUser.name='<%= current_user.name %>'">
  <div id="sidebar-wrapper" ui-view="nav"></div>
  <div id="content-wrapper" ui-view="main"></div>
</div>
