// http://paletton.com/#uid=50x0w0kwi++bu++hX++++rd++kX
$primary-1: #FFCFA4;
$primary-2: #FFB570;
$primary-0: #FF7A00;
$primary-3: #D96800;
$primary-4: #A75000;

$secondary-1-1: #FFA6A4;
$secondary-1-2: #FF7470;
$secondary-1-0: #FF0700;
$secondary-1-3: #D90600;
$secondary-1-4: #A70400;

$secondary-2-1: #FFE3A4;
$secondary-2-2: #FFD370;
$secondary-2-0: #FFB100;
$secondary-2-3: #D99700;
$secondary-2-4: #A77400;
