@import 'colors';

.bread-show-container {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 15px;
}

.bread-nav-links {
  padding: 20px 0px;
  span {
    font-size: 20px;
    font-weight: 400;
    color: $secondary-1-0;
    &:hover {
      color: $secondary-1-3;
      font-weight: 600;
      cursor: pointer;
    }
  }
}

#last {
  text-align: left;
  float: left;
}
#next {
  text-align: right;
  float: right;
}


.bread-image-holder {
  position: relative;
  display: inline-block;
  margin: 20px 0px;
  img {
    max-width: 100%;
    height: auto;
    width: auto\9;
  }
}

.bread-img-overlay {
  position: absolute;
  text-align: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, .4);
  z-index: 10;
}

.btn-primary.rip-btn {
  color: white;
  background-color: $secondary-1-0;
  border: 3px solid $secondary-1-2;
  border-radius: 0;
  font-size: 32px;
  font-weight: 500;
  margin-right: 15px;

  &:hover {
    background-color: $secondary-1-4;
    border-color: $secondary-1-0;    
  }
}

.btn-primary.dip-btn {
  color: white;
  background-color: $primary-0;
  border: 3px solid $primary-2;
  border-radius: 0;
  font-size: 32px;
  font-weight: 500;
  margin-left: 15px;

  &:hover {
    background-color: $primary-4;
    border-color: $primary-0;    
  }
}

.btn-add-comment {
  display: block;
  max-width: 250px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: $primary-0;
  border: 3px solid $primary-2;
  border-radius: 0;
  font-size: 32px;
  font-weight: 500;
  // padding: 0 150px;

  &:hover {
    background-color: $primary-4;
    border-color: $primary-0;
    color: white;
  }
}

.menu-toggle {
  margin: 12px 0px;
  text-align: left;
  #bread-info {
    margin-right: 8px;
  }
  span {
    font-size: 18px;
    font-weight: 400;
    color: $secondary-1-0;
    &:hover {
      color: $secondary-1-3;
      font-weight: 600;
      cursor: pointer;
    }
  }
}

.toggle-content {
  text-align: left;
  font-size: 18px;
  font-weight: 300;
}

textarea {
  width: 100%;
}

.bread-info {
  margin-top: 30px;
}