@import 'colors';

.user-nav-header {
  color: $secondary-1-0;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  letter-spacing: -2px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  text-shadow: 0 3px 2px $secondary-2-1;
  margin: 0, auto;
  left: 0;
  right: 0;
}

.profile-image {
  width: 100%;
  border: 5px solid $secondary-1-0;
}