<div class="bread-show-container">
  <div class="bread-nav-links">
    <a id="last">< LAST SLICE</a>
    <a id="next">NEXT SLICE ></a>
  </div>
  <div class="bread-image-holder">
    <img ng-src="{{bread.imageUrl}}">
  </div>
  <div class="bread-vote-buttons">
    <div class="btn btn-primary rip-btn">RIP IT</div>
    <div class="btn btn-primary dip-btn">DIP IT</div>
  </div>
  <div class="bread-info">
    <div>
      <span ng-click="onInfo = true">Dis Bread</span>
      <span ng-click="onInfo = false">Bread Talk</span>
    </div>
    <div ng-show="onInfo == true">
      <p>Added by: <a href="#">{{bread.user.name}}</a></p>
      <p>{{bread.description}}</p>
    </div>
    <div ng-show="onInfo == false">
      <form>
        
      </form>
    </div>
  </div>
</div>